/*Name: Letisha Rahming
Project Title:  Aura_Spa
File Name: spa.css
Description:  Challenge Excercise using JS, HTML and CSS
Creation Date:	1/10/2020
Date Completed: 1/10/2020
Last Updated: 1/10/2020

*/


body:{
	background-color: Azure;
}

h1{
	font-family:;
	color:coral;
	text-align: center;
	font-size: 55px;
	text-shadow: 2px 2px 3px ivory;
}



	
h1{
	color: Azure;
	text-align: center;
	font-family:, cursive;
}
	
	
h2{
	color: Azure;
	text-align: center;
	font-family: , cursive;
}	
	
	
	