/*Name: Letisha Rahming
Project Title:  Aura_Spa
File Name: spa.css
Description:  Challenge Excercise using JS, HTML and CSS
Creation Date:	1/10/2020
Date Completed: 1/10/2020
Last Updated: 1/15/2020

*/

body:{
	background-color: azure;
}

h1{
	font-family: 'Delius Swash Caps', cursive;
	color:azure;
	font-style: italic;
	text-align: center;
	font-size: 100px;
	text-shadow: 2px 2px 3px ivory;
}

	
h2{
	color: azure;
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-family:, cursive;
}
	
	